{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
<!-- Display total amount, total payments, and total remaining for all offerings -->
<!-- Container div and other content -->
<div class="container">
    <h1 class="text-center">Payment Report</h1>
    

    <div class="row justify-content-center ">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                               Total Offerings</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_amount_all_offerings|intcomma}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill-wave text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total Offerings Payments</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">TZS {{total_payments_all_offerings|intcomma}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill-wave text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Offerings Remaining
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{total_remaining_all_offerings|intcomma}}</div>
                                </div>
                                <div class="col">
                                    <div class="">
                                        <div class="" role=""
                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill-wave text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                               Total Zaka</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_zaka_payment|intcomma}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hand-holding-heart text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Table for Total Remaining for Each Offering for All Members -->
    <div class="card mb-4">
        <div class="card-body">
            <h2>Total Remaining for Each Offering for All Members</h2>
            <table class="table table-bordered table-white">
                <thead>
                    <tr>
                        <th>Offering</th>
                        <th>Total Remaining</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offering, total_remaining in total_remaining_per_offering.items %}
                        <tr>
                            <td>{{ offering.name }}</td>
                            <td>{{ total_remaining }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Table for Total Amount and Total Payments for Each Offering for All Members -->
    <div class="card">
        <div class="card-body">
            <h2>Total Amount and Total Payments for Each Offering for All Members</h2>
            <table class="table table-bordered table-white">
                <thead>
                    <tr>
                        <th>Offering</th>
                        <th>Total Amount</th>
                        <th>Total Payments</th>
                        <th>Total Remaining</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offering, total_amount, total_payments, total_remaining in offerings_totals %}
                        <tr>
                            <td>{{ offering.name }}</td>
                            <td>{{ total_amount }}</td>
                            <td>{{ total_payments }}</td>
                            <td>{{ total_remaining }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    {% endblock %}
