{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Welcome {{ member.get_full_name }}</h1>
<!-- Overall totals -->
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total zaka Payment</h5>
                <p class="card-text">{{ total_zaka_payment }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Offerings Amount</h5>
                <p class="card-text">{{ overall_total_amount }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Offerings Payments</h5>
                <p class="card-text">{{ overall_total_payment }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total offerings Remaining</h5>
                <p class="card-text">{{ overall_total_remaining }}</p>
            </div>
        </div>
    </div>
</div>
    <!-- Tabs for offerings -->
    <hr>
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        {% for offering in offerings %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" id="tab{{ offering.id }}-tab" data-toggle="tab" href="#tab{{ offering.id }}" role="tab" aria-controls="tab{{ offering.id }}" aria-selected="true">{{ offering.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab panes for offerings -->
    <div class="tab-content" id="myTabContent">
        {% for offering in offerings %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab{{ offering.id }}" role="tabpanel" aria-labelledby="tab{{ offering.id }}-tab">
                <h2>{{ offering.name }}</h2>
                <p>Description: {{ offering.description }}</p>
                <p>Amount: {{ offering.amount }}</p>
                <p>Total Paid: {{ offering.total_paid }}</p>
                <p>Remaining Amount: {{ offering.remaining_amount }}</p>
            </div>
        {% endfor %}
    </div>

    <!-- Total zaka payment -->
    <!-- Table for all payments -->
    <h2>All Payments</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Offering</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% if payments %}
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.created_at }}</td>
                        <td>{{ payment.offering.name }}</td>
                        <td>{{ payment.payment }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No payments found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
<br>
    <!-- Table for zaka payments -->
    <h2>Zaka Payments</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for zaka_payment in member.zakas.all %}
                <tr>
                    <td>{{ zaka_payment.created_at }}</td>
                    <td>{{ zaka_payment.payment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>


{% endblock %}